<div class="container">
    <div fxLayout="column" fxLayoutAlign="start center" style="position:relative;left:-25%;">
      <h2>Recipe Name</h2>
      <div class="btn-group">
        <button class="btn btn-primary dropdown-toggle">Manage Recipe <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">To Shopping List</a></li>
          <li><a href="#">Edit Recipe</a></li>
          <li><a href="#">Delete Recipe</a></li>
        </ul>
      </div>
      <p>Description</p>
      <p>Ingredients</p>
    </div>
  </div>
